*.umap filter=lfs diff=lfs merge=lfs -text binary
*.pak filter=lfs diff=lfs merge=lfs -text binary
*.exe filter=lfs diff=lfs merge=lfs -text binary
*.uasset filter=lfs diff=lfs merge=lfs -text binary
